* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    background-color: rgb(239, 239, 239);
    background: url('image02.jpg') no-repeat center fixed;     
    background-size: cover;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #FF9836;
}

/* move around entire nav inside website */
ul {
    text-align: center;
}

/* move around individual links inside unordered list */
ul li {
    list-style: none;
    display: inline-block;
    line-height: 75px; /* center line height w/ navbar by matching height */

}

/* style text of links */
ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: arial;
    color: #ffffff;
    padding: 0 20px;
}

ul li:hover {
    background-color: #dc812c;
}



